<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu
      *ngIf="page"
      [currentPage]="page"
      [loggedInUser]="loggedInUser"
      (selectedPage)="changePage($event)"
      (onCloseSidenav)="onClose($event, sidenav)"
      (onLogout)="logout($event)">
    </app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>Archies Theatre</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><a routerLink="/home">Home</a></li>
          <li *ngIf="(loggedInUser)"><a routerLink="/plays">Plays</a></li>
          <li *ngIf="(loggedInUser)"><a routerLink="/tickets">Tickets</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
          <li *ngIf="(loggedInUser)"><a routerLink="/login" (click)="logout()">Logout</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
