div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.main_component {
  height: 100vh;
}

.delete-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  color: #8a6565;
}

.arrow-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  color: #333;
}

.arrow-button:hover, .delete-button:hover {
  background-color: #ddd;
  cursor: pointer;
}
